$buttonDark: #94468f;
$buttonLight: #DAE0F2;
$shadow: #47494b44;
$background: #DAE0F2;

.image{
    width: 100px;
    height: 100px;
    padding: 30px;
    border-radius: 35px;
    background-color: $background;
    box-shadow: 5px 5px 5px $shadow;
    cursor: pointer;

    &:hover{
        background-color: $buttonDark;
        transition: 0.5s;
    }
}
.imageOnBoard{
    width: 100px;
    height: 100px;
    padding: 30px;
    border-radius: 35px;
    background-color: $background;
    box-shadow: 5px 5px 5px $shadow;
    animation-duration: 1s;
    animation-name: showUp;
}
@keyframes showUp {
    from {
        transform: scale(2);
    }
    to {
        transform: scale(1);
    }
  }
.popupPosition{
    position: absolute;
    right: 0px;
    left: 0px;
    top:0px; 
    bottom:0px;
    background-color: $buttonLight;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.popupWrapper{
    padding: 20px 0;
}
.popupButton{
    padding: 5px 10px;
    cursor: pointer;
    &:hover{
        border: 2px solid $buttonDark;
        transition: 0.5s;
        color: $buttonDark;
    }
}
